name: Deploy Angular to Pages

on:
  push:
    branches: ["master"] # Assicurati che il tuo branch principale si chiami 'master' o 'main'
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build
        # IMPORTANTE: --base-href deve corrispondere al nome del tuo repository GitHub
        # Se il tuo repo si chiama "midi", lascia così. Se è diverso, cambialo.
        run: npx ng build --configuration production --base-href /midi/

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Angular 19 crea la cartella 'browser' dentro 'dist/nome-progetto'
          path: dist/midi/browser

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
